html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 5% 15%;
}

.carousel-caption {
  text-align: right;
}

.carousel-item {
  color: #fff;
}

/* Sections */

.coloured-section {
  background-color: #347474;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

#features i {
  color: #347474;
  padding-bottom: 1rem;
}

#features i:hover {
  color: #295d5d;
}


.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press section */

#press {
  background-color: #347474;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Footer section */

#footer i {
  color: #347474;
  padding-bottom: 1rem;
}

#footer i:hover {
  color: #295d5d;
}

.social-icon {
  background-color: #fff;
  margin: 20px 10px;
}
